/* common shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', 'sans-serif';
}

header {
    background: url('../new-year-new-me-main/images/banner/banner2.png');
    height: 808px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
    margin: 0;
}

.banner {
    padding: 216px 230px 166px 845px;
    text-align: right;
}

.banner-title {
    color: black;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description {
    color: #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 32px;
}


.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 135px;
}

.about-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.about-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.about-info {
    width: 416px;
    margin-left: 105px
}

.about-info ul {
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}

.about ul {
    list-style: none;
}

.about ul li:before {
    content: '✓ ';
    color: #16D887;
}

/* skill */
.section-title {

    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 5px;

}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

}

.skill {
    padding: 30px;

}

.skill-description {
    color: #757575;
}

.motivation-content {
    background-image: url('../new-year-new-me-main/images/gradient2.png'), url('../new-year-new-me-main/images/watch.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    /* background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%); */
    width: 1140px;
    margin: 100px auto;
}

.motivation-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding: 60px 847px 24px 64px;
    width: 460px;
}

.btn-primary1 {
    margin: 0px 916px 60px 64px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    color: #F15B22;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}

footer{
    display: flex;
    /* gap: 100px; */
    /* justify-content: space-around; */
    background: #151414;
    /* width: 75%; */
    /* max-width: 1600px; */
    margin-top: 100px;
    padding: 130px 200px;

}

.footer-column{
    width: 50%;
}

.footer-title1{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;

}

.section-description{
    color: #FFF;

font-family: Work Sans;
font-size: 16px;
width: 485px;
margin-bottom: 24px;
}

.social-links a{
    margin-right: 15px;
}
.subscribe-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

input[type="email"] {
    color: white;
    background-color: #151414;
    width: 325px;
    padding: 21px 58px 22px 21px;
    border-radius: 8px;
    border: 1px solid #FFF;
    margin: 16px 0px;
}
.subs-button {
    border-radius: 8px;
    background: #F15B22;
    border: 0;
    padding: 20px 36px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
/* 
#footer-column-right{
    display: block;
} */